<div class="order">
  <h1>Complete yout order</h1>
  <div>
    <div class="cart">
      <div class="cart_text">
        Your cart:
      </div>
      <div class="cart_elements">{{cartMessage}}</div>
    </div>
  </div>
    <div [formGroup] = "orderForm" class="form">
      <form class="login-form">
        <input type="text" placeholder="Address" formControlName="address"/>
        <input type="text" placeholder="City" formControlName="city"/>
        <button (click) = "placeOrder()">Place order</button>
      </form>
    </div>
</div>